<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Terminos_Condiciones"
            android:theme="@style/AppTheme.TemaPopUp"></activity>
        <activity android:name=".registro" />
        <activity android:name=".Chat" />
        <activity android:name=".Padecimientos" />
        <activity android:name=".Tienda" />
        <activity android:name=".NavigationDrawer" />
        <activity android:name=".recordatorios" />
        <activity android:name=".buscar" />
        <activity android:name=".inicio" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>